In [1]:
Introduction to list datatypes :

SyntaxError: invalid syntax (2791849552.py, line 1)

In [ ]:
definition :- A list is a collection of items declared in a particular order
Classification :- It is a mutable data types

how to declare the list data types  --- []

In [4]:
students = ['joy','aakash','bikash','suresh','dipak','mukesh']

In [5]:
print(students)

['joy', 'aakash', 'bikash', 'suresh', 'dipak', 'mukesh']

In [6]:
##Introduction to indexing --0,1,2,3,4,...........n

In [7]:
print(students[1])

aakash

In [9]:
print(students[1].title())

Aakash

In [10]:
##how to add new elements in the list.
##how to modify the elements in the list
##how to delete the elements in the list

In [11]:
print(students)

['joy', 'aakash', 'bikash', 'suresh', 'dipak', 'mukesh']

In [12]:
# I want to add priya in the list

In [15]:
students.append('priya')

In [16]:
print(students)

['joy', 'aakash', 'bikash', 'suresh', 'dipak', 'mukesh', 'priya', 'priya']

In [17]:
## I want to add john in the 3rd position in the list

In [20]:
students.insert(3,'John')

In [21]:
print(students)

['joy', 'aakash', 'bikash', 'John', 'priya', 'suresh', 'dipak', 'mukesh', 'priya', 'priya']

In [ ]:
## req : i want to modify james name to john

In [22]:
students[3] = 'james'

In [23]:
print(students)

['joy', 'aakash', 'bikash', 'james', 'priya', 'suresh', 'dipak', 'mukesh', 'priya', 'priya']

In [24]:
## I want to delete priya

In [26]:
del students[4]

In [27]:
print(students)

['joy', 'aakash', 'bikash', 'james', 'suresh', 'dipak', 'mukesh', 'priya', 'priya']