In [ ]:
Introduction to Python programming:

In [ ]:
Understanding the variables in python

In [1]:
x = 2
y = 3

In [13]:
z = x+y
print(z)

NameError: name 'y' is not defined

In [ ]:
Rules for declaring the variables in python:

In [ ]:
Rule 1 :- No Namespaces for declaring variables in python, Like :-

In [15]:
first name = 'Bikash'

print(first name)

SyntaxError: invalid syntax (1885902101.py, line 1)

In [17]:
firstname = 'Bikash'

print(firstname)

Bikash

In [ ]:
Rule 2 :- A variable number should not start with a number Like :- **

In [19]:
1name = 'Bikash'

print(1name)

SyntaxError: invalid decimal literal (2348596406.py, line 1)

In [21]:
name1 = 'Bikash'

print(name1)

Bikash

In [ ]:
Rule 3 = A variable should not contain special character

In [ ]:
@,#,$,%,&

In [25]:
name@ = 'bikash'

print(name@)

SyntaxError: invalid syntax (2940649065.py, line 1)

In [ ]:
Introduction to datatypes :

In [ ]:
1. Strings -- denoted as str
2. numbers called as Integers and are -- denoted as int , and floats called as decimals like 0.1,.2 ets and denoted as ---float
3. Lists --- denoted as list
4. tuples --- denoted as tuple
5. dictionaries --- denoted as dict

In [ ]:
Classification of datatypes :-

In [ ]:
Datatypes are boardly classified into two categories :

1. mutable datatypes - We can edit/alter and is flexible in nature
2. immutable datatypes --we cannot edit or alter this and it is fixed in nature.

In [ ]:
Introduction to string datatypes :

In [ ]:
Definition of String Datatypes:- A string is nothing but a series of characters declared in quotes.

Classification:- It is a mutable datatypes

String datatypes can be declared in single quotes'' or double quotes "" like

In [27]:
name = 'Bikash'

print(name)

Bikash

In [29]:
name = "Bikash"

print(name)

Bikash

In [ ]:
Introduction to string methods :-

In [ ]:
# Need to check the datatype

In [31]:
type(name)

str

In [33]:
fullname = 'bikash mishra'

print(fullname)

bikash mishra

In [ ]:
# Need to change the first letter of first and last name in capital

In [35]:
print(fullname.title())

Bikash Mishra

In [ ]:
# need to change the full name in capital letter

In [37]:
print(fullname.upper())

BIKASH MISHRA

In [ ]:
# need to change it to small letter

In [39]:
print(fullname.lower())

bikash mishra